* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    transition: 0.3s;
}

.dark {
    background: #222;
    color: white;
}

.btn, .reset {
    padding: 10px 20px;
    background: #008cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 16px;
}

.btn:hover, .reset:hover {
    background: #006fd6;
}

.status {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.game {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.dark .box {
    background: #444;
    color: white;
}

.box:hover {
    background: #e3e3e3;
}


.dark .box:hover {
    background: #555;
}

.winner {
    background: #00d26a !important;
    color: white !important;
}
